# Backend
PORT=4000
DB_SERVER=your-db-server-name
DB_PORT=1433
DB_NAME=dbClientes
DB_USER=clienteapp_user
DB_PASSWORD=cambia-esta-clave
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=cambia-esta-clave

# Frontend
EXPO_PUBLIC_API_URL=http://localhost:4000
